#sketch-holder{
}
#instruction{
    font-size: 50;
    
}
#search{
    font-size: 40;
    padding-left: 25%;
    position: absolute;
}
#pic{
    position: absolute;
    margin-top: 300;
    padding-right: 20;
}
img{ display:inline-flex;
    width:250px;
}
#info{
    position: absolute;
    text-transform: capitalize;
    font-size: 30;
}
@media(max-width: 1024px){
    #search{
    padding-left: 19%;
    font-size: 40;
    position: absolute;
}
#info{
    position: absolute;
    text-transform: capitalize;
    font-size: 30;
}
#instruction{
    font-size: 40px;
}
}
@media(max-width: 768px){
    #search{
    padding-left: 17%;
    font-size: 30;
    position: absolute;
}
#info{
    position: absolute;
    text-transform: capitalize;
    font-size: 20;
}
#instruction{
    font-size: 40px;
}
}
@media(max-width: 500px){
#search{
    font-size: 30;
    position: absolute;
}
#info{
    position: absolute;
    text-transform: capitalize;
    font-size: 30;
}
#instruction{
    font-size: 40px;
}
#pic{
    position: absolute;
    margin-top: 300;
    padding-right: 20;
}
img{
    width: 150px;
}
}
